@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  height: inherit;
  max-height: 95vh;
  border-radius: 0.25rem;
}

.buttonOutline {
  @apply border-secondary-500 text-secondary-500 hover:bg-secondary-500 hover:text-white active:bg-secondary-500 block w-full rounded-lg border-2 bg-white px-4 py-2 px-12
    py-3 font-bold font-bold uppercase shadow hover:cursor-pointer focus:outline-none focus:ring sm:w-auto md:px-6;
}

.bg-primary-100 {
  background-color: #b4eaec;
}

.bg-primary-300 {
  background-color: #7dcfd3;
}

.bg-primary-500 {
  background-color: #51b2b6;
}

.bg-primary-700 {
  background-color: #319398;
}

.bg-primary-900 {
  background-color: #18858a;
}

.bg-secondary-100 {
  background-color: #ffdec2;
}

.bg-secondary-300 {
  background-color: #ffc696;
}

.bg-secondary-500 {
  background-color: #ffb371;
}

.bg-secondary-700 {
  background-color: #fc9f50;
}

.bg-secondary-900 {
  background-color: #e57f27;
}

.bg-tertiary-100 {
  background-color: #c6bef0;
}

.bg-tertiary-300 {
  background-color: #9a8ddd;
}

.bg-tertiary-500 {
  background-color: #7566c6;
}

.bg-tertiary-700 {
  background-color: #5646ae;
}

.bg-tertiary-900 {
  background-color: #3d2b9e;
}

.bg-quaternary-100 {
  background-color: #fff3c2;
}

.bg-quaternary-300 {
  background-color: #ffea96;
}

.bg-quaternary-500 {
  background-color: #ffe271;
}

.bg-quaternary-700 {
  background-color: #fcd950;
}

.bg-quaternary-900 {
  background-color: #e5be27;
}

.bg-zinc-100 {
  background-color: #f1f5f9;
}

.bg-zinc-300 {
  background-color: #cbd5e1;
}

.bg-zinc-500 {
  background-color: #64748b;
}

.bg-zinc-700 {
  background-color: #334155;
}

.bg-zinc-900 {
  background-color: #0f172a;
}

.text-primary-100 {
  color: #b4eaec;
}

.text-primary-300 {
  color: #7dcfd3;
}

.text-primary-500 {
  color: #51b2b6;
}

.text-primary-700 {
  color: #319398;
}

.text-primary-900 {
  color: #18858a;
}

.text-secondary-100 {
  color: #ffdec2;
}

.text-secondary-300 {
  color: #ffc696;
}

.text-secondary-500 {
  color: #ffb371;
}

.text-secondary-700 {
  color: #fc9f50;
}

.text-secondary-900 {
  color: #e57f27;
}

.text-tertiary-100 {
  color: #c6bef0;
}

.text-tertiary-300 {
  color: #9a8ddd;
}

.text-tertiary-500 {
  color: #7566c6;
}

.text-tertiary-700 {
  color: #5646ae;
}

.text-tertiary-900 {
  color: #3d2b9e;
}

.text-quaternary-100 {
  color: #fff3c2;
}

.text-quaternary-300 {
  color: #ffea96;
}

.text-quaternary-500 {
  color: #ffe271;
}

.text-quaternary-700 {
  color: #fcd950;
}

.text-quaternary-900 {
  color: #e5be27;
}

.text-zinc-100 {
  color: #f1f5f9;
}

.text-zinc-300 {
  color: #cbd5e1;
}

.text-zinc-500 {
  color: #64748b;
}

.text-zinc-700 {
  color: #334155;
}

.text-zinc-900 {
  color: #0f172a;
}
