@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  height: inherit;
  max-height: 95vh;
  border-radius: 0.25rem;
}

.buttonOutline {
  @apply border-secondary text-secondary hover:bg-secondary hover:text-white active:bg-secondary block w-full rounded-lg border-2 bg-white px-4 py-2 px-12
    py-3 font-bold font-bold uppercase shadow hover:cursor-pointer focus:outline-none focus:ring sm:w-auto md:px-6;
}
.sticky-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
  @apply text-gray-800 hover:text-primary no-underline   transition-all;
}
